*{
    margin: 0;
    padding: 0;
}
.section1{
    background-image: url(images/wallpaper2);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.589);
    height: 10vh;
}
header img{
    padding: 10px 100px;
    width: 50px;
    height: 50px;
}
header ul{
    display: flex;
    list-style: none;
    padding-top: 15px;
    padding-right: 100px;
}
header ul li{
    padding: 0 0 0 50px;
}
header ul li a{
    color: white;
}
.body{
    background-color: rgba(0, 0, 0, 0.589);
    height: 60vh;
    width: 100%;
    display: flex;
}
.body .leftcolum{
    margin: 160px 0 0 100px;
    padding: auto;
}
.body .leftcolum  h1{
    color: white;
    font-weight: 600;
    font-size: 3em;
}
.body .leftcolum  span{
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 2.5em;
}
.body .rightcolum{
    position: absolute;
    right: 0;
}

.body .rightcolum img{
    margin: 24% 0 0 30%;
    max-width: 60%;
}
.slowgan{
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
.slowgan p{
    margin-top: 10px;
    width: 100px;
    height: 3px;
    background-color: white;
}
.slowgan h3{
    color: orangered;
    font-weight: 600;
    padding: 0 10px;
}